@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*  * For all start here  */
/* ! button  */
.all-button {
  background-color: #2e5776;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}
.all-button:hover {
  background: linear-gradient(
    90deg,
    rgba(46, 87, 118, 1) 0%,
    rgba(48, 107, 150, 0.9304096638655462) 54%,
    rgba(51, 136, 194, 1) 100%
  );
}
/*  * For all End here */

/* ! header start here  */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #353b48;
}
.nav-items {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
.nav-item {
  text-decoration: none;
  color: #dfe6e9;
  padding: 2rem;
  font-size: 20px;
}
.nav-item:hover {
  text-decoration: underline;
}

/* ! header end here  */

/* main start here   */
/* banner  start here  */
.banner-container {
  width: 100%;
  height: 100vh;
  background-image: url(/asset/image/background.jpg),
    linear-gradient(135deg, #f5f7fa2c 0%, #c3cfe200 100%);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.banner-details {
  font-size: 20px;
  font-weight: 600;
  width: 50%;
  margin: auto;
  text-align: center;
}
.banner-button {
  padding-top: 20px;
}
/* banner  end here  */
/* service start here */
.Service-container {
  width: 100%;
  height: 100vh;
  background-image: url(/asset/image/footer-bg.png),
    linear-gradient(to top, #cfd9dfb7 0%, #e2ebf070 100%);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}
.Service-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Service-description {
  width: 50%;
  margin-left: 50px;
}
.Service-images-details {
  width: 50%;
}
.author-image {
  display: flex;
  align-items: center;
  padding: 10px;
}
.author {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.service-author {
  display: flex;
  align-items: center;
}
.author-button {
  border-left: 2px solid red;
  padding-left: 20px;
}
.Service-images-up {
  display: flex;
}
.Service-images-down {
  display: flex;
}
.Service-Background {
  width: 250px;
  height: 200px;
  padding: 50px;
  margin: 10px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  box-shadow: 4px 4px 5px gray;
  text-align: center;
  border-radius: 10px;
}
.service-logo {
  width: 50%;
  padding-bottom: 20px;
}
/* service end here */

/* Blog and news start here */
.Blog-details {
  text-align: center;
  margin-top: 20px;
}
.Blog-description {
  margin-bottom: 20px;
}
.blog-heading {
  font-size: 50px;
  font-weight: 600;
}
.blog-paragraph {
  padding: 0px 250px 0px 250px;
  font-size: 20px;
  font-weight: 400;
}
.image-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card {
  flex: 1;
  width: 30%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card-image-heading {
  font-size: 10px;
  font-weight: 700;
}
.card-content {
  text-align: left;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #666;
}

/* Blog and news end here */
/* main end here  */

/* footer start here  */
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.social-icons {
  font-size: 24px;
}

.icon-link {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
}

.icon-link:hover {
  color: #007bff;
}

.footer-info {
  margin-top: 10px;
}

.footer-info p {
  margin: 5px 0;
}

.copyright {
  /* margin-top: 20px; */
  background-color: #3333336b;
}

/* footer end here  */
